body {
  min-height: 100vh;
  background-color: hsl(275, 100%, 97%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 16px; /* for rem */
  position: relative;
  /* this is what fixed the gap between img and body, */
  /* note img is not part of document flow anymore with position absolute*/
  margin: 0;
  padding: 0;
}

.background-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  display: block; /* removes potential inline element spacing */
  /* prevents image distortion at 100% width */
  /* height: auto; */
  height: 300px;
  /* without this image displaces towards the
   center from within its container/frame */
  object-fit: cover;
}

.container {
  border-radius: 0.625rem;
  width: 26.25rem;
  height: 25rem;
  background-color: white;
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.icon-star {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.faq {
  font-size: xx-large;
  font-weight: 700;
}

.accordion-item-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-item-heading > span {
  font-weight: 600;
  font-size: small;
}

.icon-minus {
  height: 25px;
  width: 25px;
}

.accordion-content {
  font-size: 12px;
  margin: 15px 0px;
  color: hsl(292, 16%, 49%);
  opacity: 0;
  line-height: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.accordion-content.active {
  max-height: 200px;
  opacity: 0.7;
}

hr {
  border: none;
  height: 1px;
  background-color: #dddddd; /* Light gray */
  opacity: 50%;
}

/* responsive */

@media (max-width: 500px) {
  body {
    font-size: 12px;
  }

  .container {
    width: 80%;
    height: auto;
  }

  .background-pattern {
    height: 200px;
  }
}
